[buildout]
parts =
    filestorage
    instance
#    omelette
#    test
    ipzope
    zope2encoding

# Change the number here to change the version of Plone being used
extends =
    http://dist.plone.org/release/4.1-latest/versions.cfg
    http://good-py.appspot.com/release/dexterity/1.0.3?plone=4.1.2
    versions.cfg
versions = versions

# index = http://pypi.upc.edu/mirror
# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://pypi.upc.edu/links
    http://dist.plone.org/release/4.1-latest
    http://dist.plone.org/thirdparty

# Add additional eggs here
eggs =  plone.reload
        upc.genwebupc
        upc.genwebupctheme
        genweb.core
        genweb.stack
        genweb.portlets
        upc.genweb.banners
        upc.genweb.logosfooter
        upc.genweb.meetings
        upc.genweb.descriptorTIC
        upc.genweb.objectiusCG
        upc.genweb.serveis
        upc.genweb.kbpuc
        upc.cloudPrivat
        upcnet.simpleTask
        Products.AJAXAddRemoveWidget
        Products.windowZ
        Products.Collage
        Products.PloneFormGen
        Products.PlonePopoll
        Products.Poi
        Products.Ploneboard
        Products.PloneSurvey
        suds
        upc.genweb.soa
        upcnet.cas
#        notes.kbtic
        collective.uploadify  # Upload tab
        collective.tinymceplugins.imagebrowser  # thumbnails of images in Tiny
        collective.tinymceplugins.advfilelinks  # links with icon in Tiny
#        anz.casclient # Problems importing zexp

# Reference any eggs you are developing here, one per line
# e.g.: develop = src/my.package
develop = 
#src/notes.kbtic
#          src/notes.rrhh
extensions = mr.developer

auto-checkout = *

[sources]
genweb.core = git git@github.com:UPCnet/genweb.core.git branch=develop
genweb.resources = git git@github.com:UPCnet/genweb.resources.git branch=develop
genweb.stack = git git@github.com:UPCnet/genweb.stack.git branch=develop
genweb.portlets = git git@github.com:UPCnet/genweb.portlets.git branch=develop
upc.genwebupc = git git@github.com:UPCnet/upc.genwebupc.git branch=develop
upc.genwebupctheme = git git@github.com:UPCnet/upc.genwebupctheme.git branch=develop
upc.genweb.banners = git git@github.com:UPCnet/upc.genweb.banners.git branch=develop
upc.genweb.logosfooter = git git@github.com:UPCnet/upc.genweb.logosfooter.git branch=develop
upc.genweb.meetings = git git@github.com:UPCnet/upc.genweb.meetings.git branch=develop
upc.genweb.descriptorTIC = git git@github.com:UPCnet/upc.genweb.descriptorTIC.git branch=develop
upc.genweb.objectiusCG = git git@github.com:UPCnet/upc.genweb.objectiusCG.git branch=develop
upc.genweb.serveis = git git@github.com:UPCnet/upc.genweb.serveis.git branch=develop
upc.genweb.kbpuc = git git@github.com:UPCnet/upc.genweb.kbpuc.git branch=develop
upcnet.simpleTask = git git@github.com:UPCnet/upcnet.simpleTask.git branch=develop
upcnet.stats = git git@github.com:UPCnet/upcnet.stats.git branch=develop
upc.cloudPrivat = git git@github.com:UPCnet/upc.cloudPrivat.git branch=develop
upc.remotecontrol = git git@github.com:UPCnet/upc.remotecontrol.git branch=develop
Products.AJAXAddRemoveWidget = git git@github.com:UPCnet/Products.AJAXAddRemoveWidget.git branch=develop
translations = git git@github.com:UPCnet/translations.git branch=develop egg=false
Products.PlonePopoll = svn http://svn.plone.org/svn/collective/Products.PlonePopoll/trunk
Products.PloneSurvey = git git@github.com:UPCnet/Products.PloneSurvey.git branch=develop
upc.genweb.soa = git git@github.com:UPCnet/upc.genweb.soa.git branch=develop

[filestorage]
recipe = collective.recipe.filestorage
parts = 
location = var/filestorage/Data_%(fs_part_name)s.fs
blob-storage = var/blobstorage/%(fs_part_name)s

[instance]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/plone.recipe.zope2instance
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = on
blob-storage = var/blobstorage
effective-user = plone
python-check-interval = 1800
eggs =
    Zope2
    Plone
    ${buildout:eggs}
environment-vars =
    PTS_LANGUAGES en es ca zh
    zope_i18n_allowed_languages en es ca zh
    zope_i18n_compile_mo_files true
# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml = 

products =
    ${buildout:directory}/products

zope-conf-additional =
    <product-config genwebconfig>
        zeo 1
    </product-config>

#[omelette]
#recipe = collective.recipe.omelette
#eggs = ${instance:eggs}

#[test]
#recipe = zc.recipe.testrunner
#defaults = ['--auto-color', '--auto-progress']
#eggs =
#    ${instance:eggs}
#    genweb.portlets[test]
#    upc.genwebupc[test]
#    Products.LinguaPlone
#    Products.PloneLDAP

#[ipzope]
#recipe = zc.recipe.egg
#eggs =
#    ipython
#    ${instance:eggs}
#initialization =
#    import sys, os
#    os.environ["INSTANCE_HOME"] = "${instance:location}"
#    sys.argv[1:1] = "-p zope".split()
#scripts = ipython=ipzope

[zope2encoding]
recipe = collective.recipe.template
input = sitecustomize.py.in
output = ${instance:location}/sitecustomize.py
